* {
    box-sizing: border-box;
}

.box {
    margin-top: 2%;
    width: 100%;
}

.h {
    text-align: center;
}

@media (min-width: 992px) {
    .col-lg-4 {
        background-color: beige;
        position: relative;
        border: 1px solid black;
        padding-bottom: 30px;
        float: left;
        width: 33%;
        height: 150px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        background-color: beige;
        position: relative;
        border: 1px solid black;
        padding-bottom: 30px;
        float: left;
        width: 50%;
        height: 150px;
    }
}

@media (max-width: 767px) {
    .col-sm-1 {
        background-color: beige;
        position: relative;
        border: 1px solid black;
        padding-bottom: 30px;
        float: left;
        width: 100%;
        height: 150px;
    }
}

.dh1 {
    background-color: pink;
}

.dh2 {
    background-color: red;
}

.dh3 {
    background-color: yellow;
}

.pa {
    padding-top: 40px;
    text-align: left;
}

.dh {
    position: absolute;
    right: 0;
    border: 1px solid black;
    width: 80px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}